@import url('file:///home/<YOUR USERNAME HERE>/.cache/wal/colors.css');

menubar, toolbar, nav-bar, #TabsToolbar > *{
	background-color: var(--background) !important;
}

#appmenu-button menupopup {
    background-color: var(--background) !important;
    color: var(--color2) !important;
}

#back-button .toolbarbutton-icon {
    -moz-appearance: none !important;
    background-color: var(--background) !important;
	color: var(--color1)!important;
    border-color: var(--color1)!important;
}

#forward-button,
#reload-button,
#stop-button,
#back-forward-dropmarker {
    display:none;
}

tab[selected="true"] {
    background-color: var(--background) !important;
	color: var(--color3)!important;
    font-weight: bold !important;
}

tab {
    background-color: var(--background) !important;
    color: var(--color1) !important;
}

#urlbar {
	background-color: var(--background) !important;
	color: var(--color1) !important;
    border-color: var(--color1)!important;
}

findbar {
    -moz-appearance: none !important;
}

.autocomplete-richlistbox {
    background-color: var(--background) !important;
    color: var(--color7) !important;
}

#content browser {
    margin-right: -14px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* tab stuff */
#TabsToolbar .arrowscrollbox-scrollbox {
  padding: 0 !important;
}

#TabsToolbar .tabbrowser-tabs {
  min-height: 26px !important;
}

#TabsToolbar .tabbrowser-tab[pinned] {
  height: 26px;
}

#TabsToolbar .tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
  padding-top: 4px !important;
}

#TabsToolbar .toolbarbutton-1 {
  margin-bottom: -1px !important;
}

/* disable useless stuff */
#tabbrowser-tabs ~ #alltabs-button,
tabbrowser toolbarbutton[class^="scrollbutton"],
#TabsToolbar toolbarbutton[class^="scrollbutton"],
#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end,
.tab-close-button.close-icon,
#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before {
  display: none !important;
}

#titlebar {
    display: none !important;
}

#minimize-button,
#restore-button,
#close-button{
    display: none !important;
}
